# Node modules
node_modules/
backend/node_modules/
worker/node_modules/

# Environment variables
.env
backend/.env
worker/.env

# SQLite Database & Data
*.sqlite
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm
data/
backend/data/

# Uploaded and Processed video files (transcoded media)
public/uploads/*
!public/uploads/.gitkeep
public/processed/*
!public/processed/.gitkeep

# System / OS files
.DS_Store
Thumbs.db
