# Server Configuration
PORT=4000
NODE_ENV=development

# AWS Configuration
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_RAW_S3_BUCKET=my-raw-videos-bucket
AWS_PROCESSED_S3_BUCKET=my-processed-videos-bucket
AWS_SQS_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/123456789012/video-transcode-queue
CLOUDFRONT_DOMAIN=video-processing01

# Database Configuration (SQLite database file path)
SQLITE_DB_PATH=./data/database.sqlite

# Presigned Upload URL expiration in seconds (Default: 15 minutes)
PRESIGNED_URL_EXPIRES_IN=900
